@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">CSI Media</h1>
        <p class="lead">
            Hello. Bonjour. Welcome. CSI Media is an award-winning digital agency based in Cheshire who deliver world-class web and software solutions tailored for your requirements. Find out why we are a Drum Recommended Agency who have been recognised as a Leading Design & Creative Agency, a Top UK Web Designer, and a Top UK Software Developer in 2022.
        </p>
        <p><a href="https://www.housing21.org.uk/about-us/" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>